#canvas2d {

}

#main {
    text-align: center;
}
#map {
    align-content: center;
}
.dot {
    width: 2px;
    height: 2px;
    background-color: black;
    position: absolute;
    
}

.svg {
    position: absolute;
    border: 1px solid black;
    margin: auto;
}